<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../templates/head %>
</head>
<body class="container">

<header>
    <% include ../templates/header %>
</header>

<main>
    <div class="jumbotron">
        <h1>Cadastro de Donos de animais</h1>
    </div>
</main>

<footer>
    <% include ../templates/footer %>
</footer>

</body>
</html>