<header id="cabecalho">
  <div class="container">
    
    <div id="logo" onmouseover="late();"></div>
    <h1>PET SHOP</h1>
    <div class="clear"></div> <!-- servira como um divisor (clearfix) -->
    <nav id="menu">
      <a id="home" routerLinkActive="active" routerLink="inicio">home</a>
      <a id="produtos" routerLinkActive="active" routerLink="produtos">produtos</a>
      <a id="contato" routerLinkActive="active" routerLink="contato">contato</a>
      <a id="novo" *ngIf="userIsLogged" routerLinkActive="active" href="produtos/novo">Novo</a>
      <a id="logout" (click)="doLogout($event)" *ngIf="userIsLogged" routerLinkActive="active" >Logout</a>
      <a id="login" *ngIf="!userIsLogged" routerLinkActive="active" href="login">Login</a>
    </nav>
  </div>
</header>