*, html, body {
    margin: 0;
}

body {
    background-color: #ffffff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 100%;
    height: 100%;
    background-attachment: fixed;
    background-image: url(../images/backGround.png);
    background-repeat: repeat;
}

header {
    background-color: #161146;
    
}

nav ul, header h1{
    margin: 0px auto;
    width: 768px;
}


nav{
    background-color: #9894BB;
}

nav ul {
    padding-top: 4px;
    padding-bottom: 6px;
    padding-left: 0px;
}

nav ul li{
    display: inline-block;
    margin-right: 10px;
}

nav ul li a {
    text-decoration: none;
    color: #ffffff;
}

nav ul li a:link {
    color: #FFFFFF;
    text-decoration: none;
    font-weight: bolder;
}

nav ul li a:hover {
    border-width: 0px;
    color: #45407D;
    text-decoration: none;
    font-weight: bolder;
}

nav ul li a:visited {
    border-width: 0px;
}

nav ul li a:active {
    color: #ff0000;
}

section {
    width: 768px;
    margin: 0px auto;
}

.home-article {
    float: left;
    width: 364px;
}

.home-article:nth-child(2n+1) {
    margin-left: 40px;
}

article {
    background-color: #652B0C;
    color: #FFD7C2;
    border-radius: 3px;
    padding-bottom: 20px;
    float: left;
}

article p {
    margin-left: 20px;
    margin-top: 20px;
    margin-right: 20px;
    border-width: 0px;
}

article > img {
    margin: 20px;
    margin-bottom: 0px;
    opacity: 0.85;
    border-radius: 0.4px;
}

footer {
    background-color: #45407D;
}

main {
    overflow: auto;
    margin: 0px auto;
    padding: 20px;
    width: 768px;
}

h3 {
    margin: 20px;
}

#homeOffers {
    margin-bottom: 20px;
}

/* Produtos */

.table-products {
    border: solid 2px #652B0C;
    color: #652B0C;
    width: 768px;
}

.table-products {
    border-collapse: collapse;
}

.table-products tr:nth-child(odd) {
    background-color: #FFD7C2;
}

.table-products tr:nth-child(even) {
    background-color: #DDA384;
}

.table-products tr:hover {
    background-color: #652B0C;
    cursor: pointer;
    color: #FFD7C2;
    transition: All 1s ease;
}

.table-products img {
    transition: transform .2s ease-out; 
}

.table-products img:hover {
    transform: scale(2.5) translate(-22px, 22px);
}


/* Servicos */

.services-text {
    width: 512px;
    float: left;
}

.services-media {
    width: 216px;
    float: left;
    margin-left: 40px;
    background-color: #45407D;
    border-radius: 3px;
}

aside {
    border-width: 0px;
    background-color: #9894BB;
    padding: 10px;
    color: #FFFFFF;
    margin: 10px;
    margin-bottom: 20px;
    border-radius: 3px;
}

/* Form contato */

.form-contato {
    border: solid 2px #652B0C;
    width: 724px;
    background-color: #652B0C;
    color: #FFD7C2;
    border-radius: 2px;
    padding: 20px;
    padding-bottom: 20px;
}

label {
    display: block;
}

input[type=text], input[type=email], 
select, textarea {
    padding: 4px;
    margin: 4px;
    display: inline-block;
    border: 1px solid #FFD7C2;
    border-radius: 3px;
    box-sizing: border-box;
    width: 240px;
}

.form-contato input[type=submit] {
    margin-top: 10px;
    background-color: #FFD7C2;
    color: #652B0C;
    padding: 5px;
    border: 1px outset #652B0C;
    border-radius: 3px;
    cursor: pointer;
    font-weight: bold;
}

.form-contato p { 
    margin-bottom: 20px;
}

@keyframes bannerIndex {
    0% {
        
    }

    25% {

    }
}