<section class="login">
  <form name="loginForm" [formGroup]="loginForm" (ngSubmit)="doLogin()">
    <label for="username" >Usuário</label>
    <input type="text" name="username" formControlName="username" />
    <span class="error" *ngIf="username.dirty && username.errors?.required">Campo Obrigatório</span>
    <span class="error" *ngIf="username.errors?.minlength">Tamanho mínimo de 4 caracteres</span>
    
    <br>
    <label for="username">Senha</label>
    <input type="password" name="password" formControlName="password" />
    <br>
    <button [disabled]="loginForm.invalid" type="submit">Entrar</button>
  </form>
</section>